@model IEnumerable<OgloszeniaDrobne.Models.AdminAnnoucments>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Wiadomości od Administratora</h1>

@if(Model.Count() == 0)
{
    <p>Brak wiadomości</p>
}
@foreach (var annoucment in Model)
{
    <div class="row">
        <div class="row">
            <div class="col-12 text-lg-center bg-primary">
                <h2> @annoucment.Title </h2><br>
                <p>@annoucment.Description</p>
            </div>
        </div>
    </div>
}