@model IEnumerable<OgloszeniaDrobne.Models.AdminAnnoucments>
@{
    ViewData["Title"] = "Home Page";
}
<h1>Wiadomości od Administratora</h1>
@foreach (var annoucment in Model)
{
    <div class="row">
        <div class="row">
            <div class="col-1">
                @annoucment.Title
            </div>
        </div>
        <div class="row">
            @annoucment.Description
        </div>
    </div>
}